.img{
    text-align: center;
    margin-top: 100px;
}

.img img{   
    animation: infinite example 2s ease-out;
  }

.null{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
  @keyframes example {
    
    25%  {
        transform: scale(1.2);
    }
    75%  {
        transform: scale(1);
    }
     
  }

  .press-start{
   
  }
